.blue{
    background-image:radial-gradient(#F057F2, #9177F2, #5550F2)
}
.cursive{
    font-family: 'Ephesis', cursive;
    text-align: center;
}



/*Code from Kevin Powell's YouTube  "Flexbox design patterns you can use in your project.+ */
/* https://www.youtube.com/watch?v=vQAvjof1oe4 */

.even-columns {
    display: flex;
}

.even-columns > * {
    flex-basis: 95%;
    gap: 1em;
}

.cols {
    border: none;
    
    
}
.grid-ish {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
.grid-ish > * {
    /*flex grow, flex shrink, flex basis, grow default is 0 which is don't grow */
    flex: 1 1 10em;
}
.content-sidebar {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
.sidebar {
    flex: 1 1 30%;
    max-width: 20%;
    margin-left: 1em;
    /* min-width and max-width can be added as well */
}
.maintext {
    flex: 1 1 60%;
    max-width: 76%;
    margin-left: 1em;
    display: none;
}
button {
    width: 75%;
    border-radius: 10%;
    box-shadow: 5 5 5 gray;
    background-color: #9177F2;
    padding: 0 1em 0 1em;
    text-align: center;
}
#searched{
    flex-direction: column;
}
#UV-1{
    max-width: 15%;
}
body {
    background-image: linear-gradient(45deg, #F057F2, #05F2F2);
}
/*Color for the cards*/
.clr {
    background-color:rgb(196, 189, 189);
    padding-left: 2em;
    padding-right: 2em;
}

/* fancy way to select items 
.class > *:nth-child(1) first child after the parent class
.class > *:nth-child(2) second child after the parent class
grow shrink 70% */








/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */